@import 'src/styles/variables.scss';

.input {


    &__error {
        color: red;

    }

    &__inputContainer {
        justify-content: center;
        display: flex;


        &__input {
            border: 1px solid light-gray;
            border-radius: 3px;
        }
    }


}